*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font_texte: "Delius", cursive;
    --font_size:1.5em;
}
#conteudo_principal{
    background-image: linear-gradient(20deg,#00ffff,rgb(80, 80, 80));
    padding: 20px;
    height: 100vh;
    font-size: var(--font_size);
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    place-items: center center;
}

#conteudo_principal p{ 
    font-family: var(--font_texte);
    
}
#conteudo_principal h1{
    color: white;
}

#foto figure img{
    height: 200px;
    width: 200px;
    border-radius: 2px solid black;
    border-radius: 50%;
}

.botao{
    border: 1px solid black;
    background-color: white;
    padding: 10px;
    border-radius: 10px;

    display: grid;
    height: 60px;
    width: 210px;
    place-items: center center;
}

.botao a{
    
    text-decoration: none;
    color: black;

    font-family: var(--font_texte);
}

.botao:hover {
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

footer{
    color: rgb(0, 0, 0);
}

@media(max-height: 500px){

}