*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#conteudo_principal{
    background-image: linear-gradient(red,blue);
    height: 100vh;
    
    display: grid;
    grid-template-columns: 1fr;
}