*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --font_texte: "Delius", cursive;
}
#conteudo_principal{
    background-image: linear-gradient(rgb(0, 0, 0),rgb(60, 60, 252),rgb(252, 0, 0));
    height: 100vh;

    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    place-items: center center;
}

#conteudo_principal p{ 
    font-family: var(--font_texte);
}

#foto figure img{
    height: 200px;
    width: 200px;
    border-radius: 2px solid black;
    border-radius: 50%;
}

.botao{
    border: 2px solid black;
    background-color: white;
    
    border-radius: 50px;

    display: grid;
    height: 50px;
    width: 110px;
    place-items: center center;
}

.botao a{
    text-decoration: none;
    color: black;

    font-family: var(--font_texte);
}

.botao:hover {
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}